.box{
    width: 1000px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: sandybrown;
}